<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hidro -  Minimal eCommerce HTML Template</title>
    <meta name="description" content="Hidro is a eCommerce Boostrap HTML Templates. It is one of the best minimal ecommerce templates. you can use it for minimal shop.">
    <meta name="keywords" content="HTML5, flowers, cookery, sport, bootstrap, interior, fashion, shopping, electronics, clothes, digital, responsive, Technology, furniture,minimal, minimal shop">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="small-container">

        <!-- breadcrumb start -->
       
                    <h2 class="page-title">about us</h2>
                    
        <!-- breadcrumb end -->
        <!-- shopping-cart-area start -->
        <div class="about-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                    </div>
                </div>
            </div>
        </div>
        <!-- shopping-cart-area end -->
        <!-- Modal -->
        <!-- Modal end -->
    </div>

    <!-- all js here -->
  
</body>
</html>
