@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@*<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>*@

<div class="slider-area style-1">
    <div class="container-fluid text-center">
        <div class="slider-text">
            <h1>@ViewData["Title"]</h1>
            <p>You have successfully logged out of the application.</p>
        </div>
    </div>
</div>